.bookList {
  display: flex;
  width: 90%;
  height: auto;

  border-radius: 0.5rem;
  box-shadow: 1px 1px 1px -1px rgba(82, 94, 86, 100%);
  background: linear-gradient(
    rgba($primary-dark-lime, 0.8),
    rgba($primary-dark-lime, 0.8)
  );

  &__listContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: space-between;
    padding-left: 0;
    width: 100%;
    height: auto;
    margin-bottom: 4.5rem;
  }
  &__list-Details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 15vh;
    margin: 1rem;

    border-radius: 0.3rem;
    box-shadow: 1px 1px 1px 1px rgba(82, 94, 86, 100%);
    background-color: $primary-green;
    &:hover {
      cursor: pointer;
      background-color: $primary-yellow;
      text-decoration: line-through;
    }
  }
  &__title {
    // font-size: 1.5rem;
    font-size: calc(1.2rem + ((1vw - 7.68px) * 0.6944));
    min-height: 0vw;
  }
  &__author {
    // font-size: 1rem;
    font-size: calc(0.625rem + ((1vw - 7.68px) * 0.6944));
    min-height: 0vw;

    margin: 0.5rem 0;
  }
}

//when no books in the list, this div will display===//

.emptyList {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  // height: auto;
  height: 15vh;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 1px -1px rgba(82, 94, 86, 100%);
  background: linear-gradient(
    rgba($primary-dark-lime, 0.8),
    rgba($primary-dark-lime, 0.8)
  );

  &__infoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 10vh;
    margin: 2.5rem 0;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 1px -1px rgba(82, 94, 86, 100%);
    background-color: $primary-green;

    &:hover {
      cursor: pointer;
      background-color: $primary-yellow;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    font-size: calc(1.35rem + ((1vw - 7.68px) * 0.6944));
    min-height: 0vw;

    span {
      color: $p-pink-light;
      font-weight: bold;
      font-size: calc(2rem + ((1vw - 7.68px) * 0.6944));
      min-height: 0vw;
      margin-bottom: 0.5rem;
    }
  }
}
