//Primary Breakpoints==//
$sm: 400px;
$md: 48em; //768px
$lg: 64em; //1024px
$xl: 75em; //1200px
$xxl: 90em; //1440px

//Other Breakpoints==//
$sm-md: 34.375em; //550px;
$md-lg: 56.25em; //900px
$nav-sm: 400em;
$nav-lg: 63.9375em; //1023px;

$color-mercury: #e1e1e1;
$color-white: #ffffff;
$color-hover: #004892;

//New Colors
$primary-color: #000011;
$secondary-color: #000011a6;
$card-secondary-color: #263238;

//main variables
$p-pink-light: #ff77a9;
$primary-yellow: #fffde7;
// $primary-dark-yellow: #cccab5;
$primary-dark-lime: #c6c8b5;
$p-dark-yellow: #cbc693;
$primary-green: #f1f8e9;
